<div id="{{tableId}}" class="table-container">
  <h4>
    <a href="javascript: void(0)" class="table-name-click">{{name}}</a>
  </h4>
  <div class="table-name-edit-container">
    <input type="text" name="table_name" value="{{name}}" />
  </div>
  <table border="0">

  </table>
<div>
